[project]
	description = Rights inherited by all other projects
	state = active
[capability]
	administrateServer = group Administrators
	streamEvents = group Non-Interactive Users
[access "refs/*"]
	read = group Administrators
	read = group Anonymous Users
	read = group Developer
	read = group Registered Users
	forgeAuthor = group Registered Users
[access "refs/for/refs/*"]
	push = group Registered Users
[access "refs/heads/*"]
	label-Code-Review = -1..+1 group Registered Users
[access "refs/meta/config"]
	exclusiveGroupPermissions = read
	read = group Anonymous Users
	read = group Project Owners
	push = group Administrators
[label "Verified"]
	function = MaxWithBlock
	value = -1 Fails
	value =  0 No score
	value = +1 Verified
[label "Code-Review"]
	function = MaxWithBlock
	abbreviation = R
	copyMinScore = true
	value = -2 Do not submit
	value = -1 I would prefer that you didn't submit this
	value =  0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
[contributor-agreement "Individual"]
  description = SWGEmu Contributor License Agreement
  requireContactInformation = true
  agreementUrl = static/cla_individual.html
  autoVerify = group CLA accepted
  accepted = group CLA accepted
[receive]
       requireContributorAgreement = false
